# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Engine/.vs/DirectXTKSimpleSample_2015/v16/Browse.VC.opendb
Engine/.vs/DirectXTKSimpleSample_2015/v16/ipch/26d841aadefdefaf.ipch
Engine/.vs/DirectXTKSimpleSample_2015/v16/ipch/AutoPCH/4eecca4317a63b69/GAME.ipch
Engine/.vs/DirectXTKSimpleSample_2015/v16/ipch/AutoPCH/5e6f07e4cb89a482/RAYTRIANGLEINTERSECTION.ipch
Engine/Bin/Desktop_2015/x64/Debug/vc142.pdb
Engine/Bin/Desktop_2015/x64/Debug/vc142.idb
Engine/Bin/Desktop_2015/x64/Debug/resource.res
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015_manifest.rc
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.vcxproj.FileListAbsolute.txt
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.pdb
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.log
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.ilk
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.recipe
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exp
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.embed.manifest.res
Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.embed.manifest
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.write.1.tlog
Engine/.vs/DirectXTKSimpleSample_2015/v16/.suo
Engine/.vs/DirectXTKSimpleSample_2015/v16/Browse.VC.db
Engine/.vs/DirectXTKSimpleSample_2015/v16/Browse.VC.db-shm
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.read.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.command.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.write.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/DirectXTKSimpleSample_2015.lastbuildstate
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/DirectXTKSimpleSample_2015.write.1u.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.command.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.read.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.write.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.command.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.read.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.write.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.read.1.tlog
Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.command.1.tlog
